<h2>Se connecter</h2>
<form
  (ngSubmit)="myForm.valid && onSubmit()"
  #myForm="ngForm"
  class="form-container"
>
  <fieldset class="email-container">
    <label for="email-user">Votre e-mail :</label>
    <input
      id="email-user"
      name="email-user"
      type="email"
      [(ngModel)]="newUser.email"
      #email="ngModel"
      required
      email
    />
    <div *ngIf="myForm.submitted || email.errors">
      <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
      <span *ngIf="email.errors?.['email']"
        >Le format de l'adresse email est invalide.</span
      >
    </div>
  </fieldset>

  <fieldset class="password-container">
    <label for="password-user">Votre mot de passe :</label>
    <input
      id="password-user"
      name="password-user"
      type="password"
      [(ngModel)]="newUser.password"
      #password="ngModel"
      required
      minlength="6"
    />
    <div *ngIf="myForm.submitted || password.errors">
      <span *ngIf="password.errors?.['required']"
        >Le champ mot de passe est requis</span
      >
      <span *ngIf="password.errors?.['minlength']"
        >Le champ mot de passe doit comporter au moins 6 caractères.</span
      >
    </div>
  </fieldset>
  <div class="button-container">
    <button type="submit" (click)="successMessage = ''">Se connecter</button>
    <div *ngIf="myForm.valid && myForm.submitted">
      {{ successMessage }}
    </div>
  </div>
</form>
