input {
    border: 1px solid orange;
  }
  
  input.ng-touched {
    border: 1px solid blue;
  }
  
  input.ng-valid {
    border: 1px solid green;
  }
  
  input.ng-invalid.ng-dirty {
    border: 1px solid red;
  }